@{
    ViewBag.Title = "联系我们";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    ColourData<br />
    彩数（上海）商务咨询有限公司<br />
    <abbr title="Phone">P:</abbr>
    123.4567.1234
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@colourData.com">Support@colourData.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@colourData.com">Marketing@colourData.com</a>
</address>